
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}
    ul, ol, li {
        list-style: none;
    }


.login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.select_operacao{
    display: flex;
}